.nav {
    display: flex;
    justify-content: space-between;
    background-color: var(--nav-background);
    padding: 8px 16px;
    min-height: 8vh;
}
.logo {
    color: var(--on-nav);
}

.userAvatar {
    width: 40px;
    aspect-ratio: 1/1;
    border-radius: 9999px;
}