#root {
  display: grid;
  grid-template-areas: 
  "nav nav"
  "main main"
  "footer footer";
  grid-template-rows: auto 1fr auto;
  width: 100vw;
  min-height: 100vh;
  box-sizing: border-box;
}

nav {
    grid-area: nav;
    background-color: var(--nav-background);
    padding: 8px 16px;
    min-height: 8vh;
}

main {
    grid-area: main;
    background-color: var(--main-background);
    padding: 8px 16px;
}

footer {
    grid-area: footer;
    background-color: var(--footer-background);
    padding: 8px 16px;
}