#root {
  display: grid;
  grid-template-areas: 
  "main main"
  "footer footer";
  grid-template-rows: 1fr auto;
  width: 100vw;
  min-height: 100vh;
  box-sizing: border-box;
}

main {
    grid-area: main;
    background-color: var(--main-background);
    padding: 8px 16px;
}

footer {
    grid-area: footer;
    background-color: var(--footer-background);
    padding: 8px 16px;
}